{% include 'layout/header.html' %}

<h1></h1>
<div id="content">
    {% for entry in entries %}
    <div class="post_entry">
        <h3 id="post_" class="post_title"><a href="/blog/entry/{{ entry.id }}">{{ entry.Title }}</a></h3>
        <p class="post_info">±Û °¥·¡ : [  ] / <a href="/blog/entry/"></a></p>
        <div class="content_box">{{ entry.Content }}</div>
        <ul class="post_meta">
            <li>²¿¸®Ç¥ : {% for tag in entry.Tags.all %}
            <span>{{tag.Title}}</span>
            {% endfor %}</li>
            <li><a href="/blog/get_comments/">´ñ±Û ()</a></li>
        </ul>
    </div>
    {% endfor %}
</div>
<div id="sidebar"></div>
{% for page in range_page %}
<a href="/blog/page/{{ page }}" >[{{ page }}]</a>
{% endfor %}

{% include 'layout/footer.html' %}