<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
<h1><strong>{{ screen_title }}</strong></h1>
<p>안녕 여러분.</p> <p>이 내용은 list.html 에 있는 거야</p> <p>
<hr>
{% for entry in entries %}
<div>
<h3><a href="/blog/entry/{{ entry.id }}" >{{ entry.Title }}</a></h3>
<ul>
<li>{{ entry.created }}</li>
</ul>
<div>{{ entry.Content }}</div>
</div>
tags:
<li>{% for tag in entry.Tags.all %}
<span>{{tag.Title}}</span>
{% endfor %}</li>
{% endfor %}
{% for page in range_page %}
<a href="/blog/page/{{ page }}" >[{{ page }}]</a>
{% endfor %}